/* Import files */
@import url(./index.css);

:root {
  --main-bg-color: #22223b;
  --link-bg-color: #4a4e69;
  --icon-color-red: #F3535E;
  --brown: #9A8C98;
  --main-body-bg-color: #c9ada7;
  --text-color: #F8F4F1;
}

body {
  margin: 40px 10px;
  padding: 0 auto;
  background-color: var(--main-body-bg-color);
  color: var(--text-color);
}

#heading-style {
  margin: 40px 0 20px 0;
}

.lists a{
  text-decoration: none;
  color: var(--text-color);
}
